<div ng-if="debug">
<p>This is the partial for view 1.</p>
<p>{{decks}}</p>
<p>{{drawPile}}</p>
<p>{{treasureTrack}}</p>
</div>

<div class="row">
	
	<div class="col-md-3">
		
		<div class="panel panel-success" data-collapsed="0">
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title">Exploration card <span class="badge badge-secondary">{{decks.exploration.length}}</span>
					<button ng-click="draw('exploration')" type="button" class="btn btn-green btn-icon">
						Draw
						<i class="entypo-export"></i>
					</button>
					<button ng-click="reset()" type="button" class="btn btn-red btn-icon">
						Restart
						<i class="entypo-cancel-circled"></i>
					</button>
				</div>
			</div>
			
			<!-- panel body -->
			<div class="panel-body">
				
				<p><img src="{{getLink('exploration')}}" alt="Smiley face" width="100%"></p>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="col-md-6">
	
		<div class="panel panel-danger panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title">Monster card <span class="badge badge-secondary">{{decks.monster.length}}</span>
					<button ng-click="draw('monster')" type="button" class="btn btn-green btn-icon">
						Draw
						<i class="entypo-export"></i>
					</button>
					<button ng-click="shuffle('monster')" type="button" class="btn btn-blue btn-icon">
						Shuffle
						<i class="entypo-docs"></i>
					</button>
				</div>
				
			</div>
			
			<!-- panel body -->
			<div class="panel-body">
				
				<p><img src="{{getLink('monster')}}" alt="Smiley face" width="100%"></p>
				
			</div>
			
		</div>
	
	</div>
	
	<div class="col-md-3">
		
		<div class="panel panel-warning" data-collapsed="0">
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title">Peril card <span class="badge badge-secondary">{{decks.peril.length}}</span>
					<button ng-click="draw('peril')" type="button" class="btn btn-green btn-icon">
						Draw
						<i class="entypo-export"></i>
					</button>
					<button ng-click="shuffle('peril')" type="button" class="btn btn-blue btn-icon">
						Shuffle
						<i class="entypo-docs"></i>
					</button>
				</div>
				
			</div>
			
			<!-- panel body -->
			<div class="panel-body">
				
				<p><img src="{{getLink('peril')}}" alt="Smiley face" width="100%"></p>
				
			</div>
			
		</div>
		
	</div>
	
</div>

<div class="row">
	<div class="col-md-12">
	
		<div class="panel panel-default panel-shadow" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title">Explored room setup guide</div>
			</div>
			
			<!-- panel body -->
			<div class="panel-body">
				
				<p><img src="{{getLink('exploration', 'setup')}}" alt="Smiley face" width="100%"></p>
				
			</div>
			
		</div>
	
	</div>
</div>